/* ESTILO GERAL */
* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #000;
  height: 100vh;
  cursor: url(./imagens/5.png), auto;
}
.interface {
  max-width: 1280px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: blue;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}
h2.titulo {
  color: #fff;
  font-size: 38px;
  text-align: center;
}
h2.titulo span {
  color: blue;
}
button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px blue;
  transform: scale(1.2);
}

/* ESTILO DO CABEÇALHO */
header {
  padding: 40px 4%;
}
header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #7d7d7d;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
header nav.menu-desktop a:hover {
  color: #fff;
  transform: scale(1.2);
}
header nav ul {
  list-style-type: none;
}
header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}
.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: blue;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}
/* estilo do menu mobile */
.btn-abrir-menu i {
  color: blue;
  font-size: 40px;
  cursor: pointer;
}
.menu-mobile {
  background-color: #000;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: 0.5s;
}
.menu-mobile.abrir-menu {
  width: 70%;
  cursor: pointer;
}
.menu-mobile.abrir-menu ~ .overley-menu {
  display: block;
}
.menu-mobile .btn-fechar i {
  color: blue;
  font-size: 30px;
}
.menu-mobile .btn-fechar {
  padding: 20px 5%;
}
.menu-mobile nav ul {
  text-align: right;
}
.menu-mobile nav ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}
.menu-mobile nav ul li a:hover {
  background-color: blue;
  color: #000;
}
.overley-menu {
  background-color: #000000d0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}
/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
  padding: 40px 4%;
}
section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.topo-do-site h1 {
  color: #fff;
  font-size: 42px;
  line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span {
  color: blue;
}
.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
  font-size: 20px;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* Estilos da especialidades */
p.veja span {
  color: blue;
}
.especialidaeslink {
  text-decoration: none;
}
section.especialidades {
  padding: 40px 4%;
}
section.especialidades .flex {
  gap: 60px;
}
.especialidades .especialidades-box {
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: 0.2s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px #ffffff58;
}
.especialidades .especialidades-box i {
  font-size: 70px;
  color: blue;
}
.especialidades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}
/* ESTILO DO SOBRE */
section.sobre {
  padding: 80px 4%;
}
section.sobre .flex {
  align-items: center;
  gap: 60px;
}
.sobre .txt-sobre {
  color: #fff;
}
.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}
.sobre .txt-sobre h2 span {
  color: blue;
  display: block;
}
.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}
.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: blue;
  font-size: 22px;
  cursor: pointer;
  margin: 0 10px;
  transition: 0.2s;
}
/* ESTILO DO FORMULARIO DE CONTATO */
section.formulario {
  padding: 80px 4%;
}
form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}
form input,
form textarea {
  width: 100%;
  border-radius: 15px;
  background-color: #343434;
  border: 0;
  padding: 20px 15px;
  color: #fff;
  font-size: 18px;
}
form textarea {
  resize: none;
  max-height: 150px;
}
form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}
form .btn-enviar input[type="submit"] {
  width: 120px;
  background-color: blue;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
/* ESTILO DO RODAPÉ */
footer {
  padding: 60px 4%;
  box-shadow: 0 0 40px 01px #ffffff0e;
}
footer .flex {
  justify-content: space-between;
}
footer .line-footer {
  padding: 20px 0;
}
.borda {
  border-top: 2px solid blue;
}
footer .line-footer p i {
  color: blue;
  font-size: 25px;
}
footer .line-footer p a {
  color: #fff;
}

/* RESPONSIVIDADE DE DISPOSITIVOS MOVEIS */
.btn-abrir-menu {
  display: none; /* Oculta o ícone por padrão */
}

@media screen and (max-width: 1020px) {
  /* classes gerais */
  .btn-abrir-menu {
    display: block; /* Mostra o ícone apenas em telas menores que 1020px */
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .menu-desktop,
  .btn-contato {
    display: none; /* Esconde o menu desktop e o botão de contato em telas móveis */
  }
  .flex {
    flex-direction: column;
  }
  .topo-do-site .flex {
    flex-direction: column-reverse;
  }
  h2.titulo {
    font-size: 34px;
    line-height: 30px;
  }
  /* CABEÇALHO */
  .menu-desktop,
  .btn-contato {
    display: none;
  }
  section.topo-do-site {
    padding: 20px 8%;
  }
  /* TOPO DO SITE */
  .topo-do-site h1 {
    font-size: 28px;
  }
  section.topo-do-site .flex {
    gap: 40px;
  }
  .topo-do-site .img-topo-site img {
    width: 100%;
  }
  /* Estilos da especialidades */
  section.especialidades {
    padding: 40px 8%;
  }
  section.especialidades .flex {
    gap: 10px;
  }
  /* SOBRE */
  section.sobre {
    padding: 80px 8%;
  }
  section.sobre .flex {
    gap: 10px;
  }
  .sobre .txt-sobre h2 {
    font-size: 32px;
    line-height: 30px;
  }
  /* CONTATO */
  section.formulario {
    padding: 80px 8%;
  }
  form {
    margin-top: 0px;
  }
  form input,
  form textarea {
    padding: 10px 15px;
    font-size: 16px;
  }
  form .btn-enviar input[type="submit"] {
    width: 100%;
  }
  footer .line-footer p {
    text-align: center;
  }
  /* Maneira Provisoria Até eu achar uma solução que funcione para a responsividade */
  .Projetos {
    display: none;
  }
}

/* PORTFÓLIO */
.container {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.container .gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .gallery .img-box {
  width: 250px;
  height: 500px;
  margin: 5px;
  border: 0.5px solid blue;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background: url(./imagens/Captura\ de\ tela\ 2024-08-15\ 214618.png);
  background-position: center;
  background-size: cover;
  /* cursor: pointer; */
  position: relative;
  transition: width 0.4s;
}
.container .gallery .img-box h2 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  letter-spacing: 0.2rem;
  font-weight: 500;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 100%;
  background-color: blue;
  padding: 2% 5%;
  border-radius: 8px 0 0 8px;
  transition: bottom 0.4s, opacity;
}
.container .gallery .img-box:nth-child(2) {
  background: url(./imagens/Design\ sem\ nome.png);
}
.container .gallery .img-box:nth-child(3) {
  background: url(./imagens/Captura\ de\ tela\ 2024-08-20\ 195937.png);
}
.container .gallery .img-box:nth-child(4) {
  background: url();
}
.img4 {
  text-decoration: none;
  color: #fff;
}
.container .gallery .img-box:hover {
  width: 300px;
}
.container .gallery .img-box:hover h2 {
  opacity: 1;
  bottom: 10%;
}
@media screen and (max-width: 1020px) {
  .img-box {
    height: 300px;
  }
  .img-box:hover {
    width: 200px !important;
  }
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 1.2rem !important;
  }
  h2 {
    font-size: 0.9rem !important;
  }
  .img-box {
    width: 50px !important;
    height: 150px !important;
    border-radius: 20px !important;
  }
  .img-box:hover {
    width: 110px !important;
  }
}
